* {
    padding: 0;
    margin: 0;
  }
  
  #navbar {
    height: 60px;
    background-color: #0f1111;
  }
  
  button {
    background-color: #f08804;
  }
  #logo {
    color: #f08804;
    font-size: 25px;
  }
  
  a {
    margin-right: 200px;
    text-decoration: none;
  }
  
  .contentbox {
    height: 100px;
    width: 150px;
    border: 2px solid black;
    display: inline-block;
  }
  
  .white {
    color: #fff;
  }
  #content {
    height: 400px;
  }
  footer {
    background-color: #0f1111;
    color: white;
    text-align: center;
  }
  .contentbox {
    display: none;
  }
  